{include file="./public/static/block/member/head.html"}
{include file="./public/static/block/member/header.html"}
{include file="./public/static/block/member/leftNav.html"}
    <!-- 左侧边结束 -->
    <!-- 内容开始 -->
    <div id="content" class="app-content" role="main">
        <div class="app-content-body ">
            <div class="bg-light lter b-b wrapper-md">
                <h1 class="m-n font-thin h3">配送地址</h1>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="form-group input-group">[<font color="#FF0000">
                            <a href="{:get_member('shop/addaddress')}">增加配送地址</a></font>
                            ]
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped table_striped table_hover">
                                <thead>
                                    <tr>
                                        <th class="td5">
                                            <div align="center">地址名称</div>
                                        </th>
                                        <th class="td15">
                                            <div align="center">默认</div>
                                        </th>
                                        <th class="td15">
                                            <div align="center">操作</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <!--循环地址 开始-->
                                {volist name='address' id='item'}
                                    <tr>
                                        <td rowspan="1">
                                            <div align="center">{$item.address}</div>
                                        </td>
                                        <td rowspan="1">
                                            <div align="center">{if $item.closed==2}是{else}--{/if}</div>
                                        </td>
                                        <td>
                                            <div align="center">[<a href="{:get_member('shop/editaddress',['address_id'=>$item.address_id])}">修改</a>] [<a href="{:get_member('shop/editaddress',['address_id'=>$item.address_id,'closed'=>2])}">默认</a>] [<a href="{:get_member('shop/editaddress',['address_id'=>$item.address_id,'closed'=>1])}">删除</a>]
                                            </div>
                                        </td>
                                    </tr>
                                    {/volist}
                                <!--循环地址 结束-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容结束 -->
    <!-- 底部开始 -->
{include file="./public/static/block/member/foot.html"}
