{include file="./public/static/block/admin/head.html"}
{include file="./public/static/block/admin/nav.html"}
<!--/. NAV TOP  -->
{include file="./public/static/block/admin/leftNav.html"}
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    分类添加 <small>用于分类新增</small>
                </h1>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                添加分类
            </div>
            <div class="panel-body">
            <style type="text/css">
                ul,ol,li{
                    list-style: none;
                }
                tbody tr{
                    border-bottom:1px solid #ccc;

                }
                 tbody tr:hover{
                    background: #E6E6E6;
                 }
                 tbody tr.tr1:hover{
                    background:#fff;
                 }
                 tbody tr th{
                    text-align: center;
                 }
                tbody tr td{
                      padding:10px 0;
                }
                tbody tr td input[type=text]{
                    padding:3px 5px;
                    border:none;
                    outline: none;
                    border:1px solid #ccc;
                }
                tbody tr td select{
                    padding:3px 5px;
                    border:none;
                    outline: none;
                    border:1px solid #ccc;
                    margin-right:5px;
                }
                .bt-big{
                    outline: none;
                    border:none;
                    color:#fff;
                    background: #32C2CD;
                    padding:8px 20px;
                    font-size: 16px;
                }
            </style>
            <form action="{:url('cate/add')}" method="post" enctype="multipart/form-data">
                    <table width="100%" border="0" cellspacing="0" class="table-data form">
                        <tbody>

                            <tr><th>标题:</th><td><input type="text" name="name" value="" class="input w-300"></td></tr>
                            <tr><th>分类:</th><td>
                            <select id="parent_id" name="parent_id">
                                <option value="0">顶级分类</option>
                                {volist name='cates' id= 'cate'}
                                <option value="{$cate.cate_id}">{$cate.name}</option>
                                {/volist}
                            </select>
                            </td></tr>

                            
                            <tr class="tr1"><th class="clear-th-bottom"></th><td class="clear-td-bottom" colspan="10"><input type="submit" class="bt-big" value="提交数据"></td></tr>
                        </tbody>
                    </table>
                </form>
                <script type="text/javascript">
                    
                    $('#parent_id').change(function(){
                        $(this).next('select').remove();
                        var _val=$(this).find('option:selected').val();
                        if(_val>0){
                            $.ajax({
                                url:'http://ucenter.znc365.com/admin.php/cate/get2cates',
                                type:'POST',
                                data:{
                                    cate_id:_val
                                },
                                success:function(data){
                                    if(data.code==200){
                                        var _select ='<select id="cate_id" name="son_id"><option value="0" selected="selected">二级分类</option></select>';
                                        $('#parent_id').after(_select);
                                        for(var i=0;i<data.data.length;i++){
                                            var _option= "<option value='"+data.data[i].cate_id+"''>"+data.data[i].name+'</option>';
                                            $('#cate_id').append(_option);
                                        }
                                        
                                        console.log(data)

                                    }else{
                                        alert(data.message);
                                    }
                                    
                                },
                                error:function(error){
                                    console.log(error);
                                }
                            })
                        }else if(_val==0){
                        }
                    });

                </script>
            </div>
        </div>
    </div>
</div>
<!-- /. PAGE WRAPPER  -->
{include file="./public/static/block/admin/foot.html"}